
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: grey;
  font-family: "Montserrat";
}

/* Headings */

.big-heading {
  font-family: "Montserrat";
  /* font-size: 3.5rem; */
  line-height: 1.5;
}
#bg{
  font-size: 56px;
  margin-top: -30px;
  padding-top: -20px;
}
#intro{
  color: white;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #4e73df;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 7px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #4e73df;
  color: #fff;
  text-align: left;
  height: 100vh;

}

.main{
  justify-content: center;
}

.getstart{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.card-title{
  color:#4F4F51;
  font-family: "Montserrat";
  word-spacing: 3px;
  padding-left: 15px;
}
#tagline{
  padding-top: 15px;
  font-weight: bold;
  text-align: left;
}
#logo{
  position: absolute;
  padding-left: 10px;
  margin-left: 240px;
  padding-top: 20px;
}
#para{
  padding-top: 15px;
  font-weight: bold;
  text-align: left;
}
/* mentor */
.team-item {
  padding: 40px;
  padding-right: 0px;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  height: 85%;
  width: 85%;
}

.card-flex{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.top-sep{
  color: #4F4F51;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 56px;
  font-family: "Montserrat";
}


.team-item:after, .team-item:before {
  content: "";
  position: absolute;
  -webkit-box-shadow: 0 5px 30px 0 rgba(39, 39, 39, 0.15);
          box-shadow: 0 5px 30px 0 rgba(39, 39, 39, 0.15);
  border-radius: 10px;
  z-index: -1;
}

.team-item:before {
  height: 100%;
  background-color: #fff;
  left: 0;
  top: 0;
  right: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team-item:after {
  height: 6px;
  width: calc(100% - 30px);
  background-color: #4e63d7;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.team-item:hover:after {
  height: 100%;
}

.team-item .img-holder {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.2);
          box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.2);
  border-radius: 100%;
  width: calc(100% - 70px);
  margin-left: 70px;
  overflow: hidden;
}

.team-item .img-holder img {
  border-radius: 120px;
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.img-holder img{
  border-radius:500px ;
}
.team-item:hover .img-holder img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.team-item .socials {
  position: absolute;
}

.team-item .socials a {
  display: block;
  margin-right: 0;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.12);
}

.team-item .socials a:last-of-type {
  margin-bottom: 0;
}

.team-item .team-content {
  margin-right: 70px;
  text-align: center;
}

.team-item .team-content h5 {
  color: #4F4F51;
  font-family: "Montserrat";
  font-weight: bold;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.team-item .team-content p {
  color: #4e63d7;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-weight: 600;
  font-size: 14px;
}

.team-item:hover .team-content h5, .team-item:hover .team-content p {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.d-inline-block {
    display: inline-block!important;
}

.socials a {
    width: 35px;
    height: 35px;
    background-color: #6893e1;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 2px 0 #516cd9;
    box-shadow: 0 3px 2px 0 #516cd9;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    font-size: 16px;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}

h5 {
    font-size: 21px;
}

.mb-30 {
    margin-bottom: 30px;
}

/* contributors  */

.top-sep1{
  color: #0D327B;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 56px;
  font-family: "Montserrat";
}

/*  about   */


.section {
  padding: 50px 0;
  position: relative;
}

.about-section{
  background-color:#4e63d7;
}
.about-section:hover{
  color: ye;
}
.about-section h2 {
  margin-bottom: 50px;
  font-size: 56px;
  font-family: Montserrat;
  color:white;
}

.about-text p {
  font-size: 2vh;
  text-align: justify;
  font-family: Montserrat;
  color: #FFFFFF;
}

.about-text{
  padding: 20px;
}


/* Slider */

.slick-slide {
  margin: 0px 20px;
  padding: 15px;
}

.slick-slide img {
  width: 80%;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* Footer Section */
#footer{
  background-color: #4e63d7;
}

#social-icon p{
  color: white;
  padding: 10px;
}

.slick-track{
  width: 20000px!important;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
    height: 100vh;
  }

  .slick-slide{
    padding: 0;
    min-width: 180px;
  }

  .techused .slick-slide{
    padding: 15px;
    min-width: 180px;
  }

  .title-image {
    position: static;
    transform: rotate(0);


  }
  @media screen and (min-width: 500px) and (max-width:768px) {

    .card-flex{
      width: 50%!important;
    }

    .team-item{
      height: 100%;
      width: 100%;
    }

    .team-item .team-content{
      padding-top: 30px;
    }

  }



 @media (max-width:500px)
 {
   .team-item{
     height: 100%;

   }
   .team-item .team-content{
    padding-top: 30px;
  }
 }


  .team-item .img-holder img{
    border-radius: 120px;
  }
}

.techused h2
{
  margin: 50px 0;
  padding: 20px;
  font-size: 56px;
  font-family: Montserrat;
}
body {
  background: #D0D8DB;
}

textarea {
  resize: none;
}

.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
white-space: nowrap;
}



.svg-inline--fa {
vertical-align: -0.200em;
}

.rounded-social-buttons {
text-align: center;
}

.rounded-social-buttons .social-button {
display: inline-block;
position: relative;
cursor: pointer;
width: 3.125rem;
height: 3.125rem;
border: 0.125rem solid transparent;
padding: 0;
text-decoration: none;
text-align: center;
color: #fefefe;
font-size: 1.5625rem;
font-weight: normal;
line-height: 2em;
border-radius: 1.6875rem;
transition: all 0.5s ease;
margin-right: 0.25rem;
margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
-webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
color: #3b5998;
background: #fefefe;
border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
color: #55acee;
background: #fefefe;
border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
color: #007bb5;
background: #fefefe;
border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
background:black;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
color: black;
  background: #fff;
  border-color: black;
}

/*preloader*/

.outer{
  height:100vh;
  width:100vw;
 background-color:#b4bdf2;
  position:absolute;
  z-index: 100;
  top:0px;
  left:0px;
}
#mypage
{
 position: relative;
 z-index: 1000;
 height:55%;
 width:40%;
 top:30vh;
 left:35vw;
  background: url("/static/img/favicon.png");
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  background-size: contain;

}

.about-avatar img{
  width: 35%;
}
.img-profile
{
  width:2.5vw;
  height:3.5vh;
}
@media screen and (max-width: 992px) {
  .img-profile
{
  width:5vw;
  height:2.5vh;
}

  .about-section h2
  {
    font-size:56px;
  }
  #title .container-fluid {
    padding: 3% 8% 7%;
}
.big-heading
{
  font-size: 7rem;
}
#intro
{
  font-size: 2rem;
}
.colored-section button
{
  font-size: 15px;
  margin-top: 0px;
  padding-top: 0px;
}
#tagline
{
  margin-top: 0px;
  padding-top: 0px;
  font-size: 25px;
}
#para
{
  margin-top: -1px;
  padding-top: 0px;
  font-size: 10px;
}
#logo
{
  padding-top: 3vh;
}
.navbar .navbar-brand img
{
  width: 5vh;
  height: 5vh;
}
.techused h2
{
  font-size: 56px;
  
}
.navbar-dark .navbar-nav .nav-link
{
  font-size: 2.5rem;
}
}

/* css for wave */
svg {
  width:100%;
}
.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: #2b41ba;
}
.drop {
  fill: transparent;
  animation: drop 5s ease infinite normal;
  stroke: #4478e3;
  stroke-width:0.5;
  opacity:.6;
  transform: translateY(80%);
}
.drop1 {
  transform-origin: 20px 3px;
}
.drop2 {
  animation-delay: 3s;
  animation-duration:3s;
  transform-origin: 25px 3px;
}
.drop3 {
  animation-delay: -2s;
  animation-duration:3.4s;
  transform-origin: 16px 3px;
}
.gooeff {
  	filter: url(#goo);
}
#wave2 {
  animation-duration:5s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 7s;
  opacity:.3;
}
@keyframes drop {
  0% {
    transform: translateY(80%);
    opacity:.6;
  }
  80% {
    transform: translateY(80%);
    opacity:.6;
  }
  90% {
    transform: translateY(10%) ;
    opacity:.6;
  }
  100% {
    transform: translateY(0%) scale(1.5);
    stroke-width:0.2;
    opacity:0;
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}
@keyframes ball {
  to {transform: translateY(20%);}
}

/* css for wave end */

/* css for back to top button */
html
{
  scroll-behavior: smooth;
}
a
{
  text-decoration: none;
}
#button {
  display: inline-block;
  background-color:#0aa1ec;
  width: 52px;
  height: 52px;
  text-align: center;
  border-radius: 25px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color:#0ae0ec;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* toggle button and dark mode */

.switch {
  position: relative;
  display: inline-block;
  width: 3.8rem;
  z-index: 10;
  height: 2.1rem;
  margin-bottom: 0;
    top: 10px;
}

/*   // Hide checkbox
 */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/*   // The slider
   */
.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: 0.4s ease-in-out;
}

/*
  // Design of slider for light mode
 */
.slider2:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 6px;
  bottom: 6px;
  background-color: yellow;
  box-shadow: 0px 0px 5px 4px #ffd900;
  transition: 0.4s;
}


.theme-dark .team-content{
  color: rgb(194, 194, 194);
}
/*   // When theme is dark, background is dark */
.theme-dark .slider2 {
  background-color: #3a2864;
}

/*    // If theme is dark, but slider is to the left, move it to the right and turn it into a moon
 */
.theme-dark .slider2:before {
  transform: translateX(26px);
  height: 3px;
  width: 3px;
  background-color: lightgrey;
  bottom: 15px;
  left: 10px;
  box-shadow: 10px -7px 0px 1px lightgrey, -4px -8px 0px 0px lightgrey, 6px 6px 0px 1px lightgrey, 5px -1px 5px 13px white, 5px -1px 0px 12px white;
}

/* Rounded sliders */
.slider2.round {
  border-radius: 34px;
}

.slider2.round:before {
  border-radius: 50%;
}

.theme-dark body {
  background-color: black;
}

.theme-light body {
  background-color: aliceblue;
}
.theme-dark #title , .theme-dark .about-section , .theme-dark #footer
{
  background-color: #344d95;
  color: #fff;
}
.theme-dark .top-sep , .theme-dark .top-sep1 , .theme-dark .techused h2
{
  color: #fff;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .switch{
    right: 1rem;
    width: 6rem;
    top: 1.5rem;
    height: 3.5rem;
  }
  .theme-dark .slider2:before {
    transform: translateX(26px);
    height: 20px;
    width: 20px;
    background-color: lightgrey;
    bottom: 18px;
    left: 28px;
  }
  .slider2:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 4px;
    bottom: 8px;
    background-color: yellow;
    box-shadow: 0px 0px 5px 4px #ffd900;
    transition: 0.4s;
}
}


/* Styles for the content section */
@media (min-width: 500px) {

  #button {
    margin: 30px;
  }
}

@media screen and (max-width:768px)
{
  #logo{
  padding: 0;
  margin: 0;
  width: auto;
  margin-left: 50%;
  }

  .classbox{
    height: 40%;
  }

  .card{
    height: 100%;
  }
}

.social-button:hover{
  transform: scale(2);
}

.flex-row-reverse{
  --bs-gutter-x:0!important
}


#intro{
  font-size: 20px;
}
@media (max-width: 600px) {

 #bg,.top-sep,.top-sep1,.about-section h2,.techused h2{
   font-size: 8vw;
 }
 #intro{
   font-size: 5vw;
 }
}

