
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: grey;
  font-family: "Montserrat";
}

/* Headings */

.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}
#intro{
  color: white;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #4e73df;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #4e73df;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.card-title{
  color:#4F4F51;
  font-family: "Montserrat";
  word-spacing: 3px;
  padding-left: 15px;
}
#tagline{
  padding-top: 15px;
  font-weight: bold;
  text-align: left;
}
#logo{
  position: absolute;
  padding-left: 10px;
  margin-left: 240px;
  padding-top: 20px;
}
#para{
  padding-top: 15px;
  font-weight: bold;
  text-align: left;
}
/* mentor */
.team-item {
  padding: 35px;
  padding-right: 0;
  position: relative;
  z-index: 0;
}
.top-sep{
  color: #4F4F51;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 8vw;
  font-family: "Montserrat";
}


.team-item:after, .team-item:before {
  content: "";
  position: absolute;
  -webkit-box-shadow: 0 5px 30px 0 rgba(39, 39, 39, 0.15);
          box-shadow: 0 5px 30px 0 rgba(39, 39, 39, 0.15);
  border-radius: 10px;
  z-index: -1;
}

.team-item:before {
  height: 100%;
  background-color: #fff;
  left: 0;
  top: 0;
  right: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team-item:after {
  height: 6px;
  width: calc(100% - 30px);
  background-color: #4e63d7;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.team-item:hover:after {
  height: 100%;
}

.team-item .img-holder {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.2);
          box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.2);
  border-radius: 10px;
  width: calc(100% - 70px);
  margin-left: 70px;
  overflow: hidden;
}

.team-item .img-holder img {
  border-radius: 10px;
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.team-item:hover .img-holder img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.team-item .socials {
  position: absolute;
}

.team-item .socials a {
  display: block;
  margin-right: 0;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.12);
}

.team-item .socials a:last-of-type {
  margin-bottom: 0;
}

.team-item .team-content {
  margin-right: 70px;
  text-align: center;
}

.team-item .team-content h5 {
  color: #4F4F51;
  font-family: "Montserrat";
  font-weight: bold;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.team-item .team-content p {
  color: #4e63d7;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-weight: 600;
  font-size: 14px;
}

.team-item:hover .team-content h5, .team-item:hover .team-content p {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.d-inline-block {
    display: inline-block!important;
}

.socials a {
    width: 35px;
    height: 35px;
    background-color: #6893e1;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 2px 0 #516cd9;
    box-shadow: 0 3px 2px 0 #516cd9;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    font-size: 16px;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}

h5 {
    font-size: 21px;
}

.mb-30 {
    margin-bottom: 30px;
}

/* contributors  */

.top-sep1{
  color: #0D327B;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 8vw;
  font-family: "Montserrat";
}

/*  about   */


.section {
  padding: 50px 0;
  position: relative;
}

.about-section{
  background-color:#4e63d7;
}
.about-section:hover{
  color: ye;
}
.about-section h2 {
  padding: 20px;
  font-size: 8vw;
  font-family: Montserrat;
  font-weight: bold;
  color: red;
}

.about-text p {
font-size: 1rem;
font-family: Montserrat;
color: #FFFFFF;
}



/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* Footer Section */
#footer{
  background-color: #4e63d7;
}

#social-icon p{
  color: white;
  padding: 10px;
}


@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

.techused h2
{
  padding: 20px;
  font-size: 7vw;
  font-family: Montserrat;
}
.img-profile
{
  width:2.5vw;
  height:3.5vh;
}
@media screen and (max-width: 992px) {
  .img-profile
{
  width:5vw;
  height:2.5vh;
}
.about-text p {
  font-size:2.5rem;
  }
  .about-section h2
  {
    font-size:8rem;
  }
  #title .container-fluid {
    padding: 3% 8% 7%;
}
.big-heading
{
  font-size: 7rem;
}
#intro
{
  font-size: 2rem;
}
.colored-section button
{
  font-size: 3rem;
}
#tagline
{
  font-size: 3rem;
}
#para
{
  font-size: 2rem;
}
#logo
{
  margin-left:471px;
  padding-top: 3vh;
}
.navbar .navbar-brand img
{
  width: 5vh;
  height: 5vh;
}
.techused h2
{
  font-size: 5rem;
}
.navbar-dark .navbar-nav .nav-link
{
  font-size: 2.5rem;
}
}
