html
{
  scroll-behavior: smooth;
}
.parent-div1 {
  height: 100%;
}
.div2 {
  background-color: #fe552e;
  height: 650px;
}

#right-side {
  margin-top: 100px;
  margin-left: 20px;
  position: relative;
  padding-left: 50px;
  width: 600px;
  height: 450px;
  background-color: white;
  border-radius: 80px;
}


#leftarrow {
  position: absolute;
  top: 550px;
  left: 645px;
  border: solid orange;
  border-width: 0 0px 4px 0;
  display: inline-block;
  padding: 30px;
}
.up {
  transform: rotate(45deg);
}
#rightarrow {
  position: absolute;
  top: 550px;
  left: 645px;
  border: solid white;
  border-width: 0 4px 0px 0;
  display: inline-block;
  padding: 30px;
}
.down {
  transform: rotate(45deg);
}
#mentor-image {
  width: 50px;
  height: 100px;
}
#contributor-image {
  width: 50px;
  height: 100px;
}
#name {
  text-align: center;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 5px;
}
#right-side {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ea3e22;
  border-radius: 3px;
  background-image: linear-gradient(to top, #4094fc, #c384e8, #ff7ab8, #ff8883, #ffa95c, #ffb049, #ffb831, #ffc100, #ffa300, #fb8400, #f46314, #ea3e22); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to top, #4094fc, #c384e8, #ff7ab8, #ff8883, #ffa95c, #ffb049, #ffb831, #ffc100, #ffa300, #fb8400, #f46314, #ea3e22);
}

@media screen and (max-width: 360px) {
  
  .topbar .nav-item .nav-link{
    padding: 0 .15rem!important;
  }

  .switch{
    width: 3rem;
    height: 1.5rem;
    top: 22px;
  }

  .theme-dark .slider2:before{
    transform: translateX(26px);
    height: 1px;
    width: 1px;
    background-color: lightgrey;
    bottom: 11px;
    left: 7px;
  }

  .slider2:before{
    height: 1px;
    width: 1px;
    bottom: 11px;
    left: 7px;
  }
}