<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BulkMailer</title>
    <!-- Latest compiled and minified CSS -->
      <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="ico" sizes="16x16">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid parent-div1">
      <div class="col-lg-6 div1">
        <h3 style="font-family: 'Montserrat';color: #483939;font-size: 40px;">BulkMailer</h3>
        <h2 style="color: #4F4F51;padding-left: 90px;padding-top: 25%;font-size: 90px;">LET'S GO</h2>
        <h2 style="font-family: 'Montserrat';color: #FE552E;font-size: 40px;padding-left: 90px;font-size: 90px;">OPEN <br>SOURCE</h2>
      </div>
      <div class="col-lg-6 div2">
        <div id="right-side">
          <h1 style="color: #4F4F51;font-weight: bolder;padding-top: 130px; font-size: 50px;">GSSOC</h1>
          <p style="color: grey;font-weight: bolder;padding-top: 0%;">
            GSSOC is a 3 months long <br />
            Open Source program <br />
            during summers <br />
            conduted by GirlScript <br />
            Foundation with an aim to <br />
            help begineers get started <br />
            with Open Source <br />
            Development while <br />
            encouraging diversity.
          </p>
          <div>
            <img id="logo" src="{{ url_for('static', filename='img/logo.png') }}"   alt="" />
          </div>
        </div>
      </div>
      <a href="#mentors">
        <span>
        <i class="up" id="leftarrow"></i>
        <i class="down" id="rightarrow"></i>
      </span>
      </a>
    </div>
    

    <!-- Mentors section -->

    <div>
      <h1 style="font-family: 'Montserrat';color: #4F4F51;padding-left: 110px;padding-top: 50px;font-size: 80px;">Mentors</h1>
      <div class="container" id="mentors">
        <div class="col-lg-3 mentor-image">
          <img src="https://picsum.photos/200" width="100%" id="img1"  alt="" />
          <p id="name"> Mentor 1</p>
        </div>
        <div class="col-lg-3 mentor-image">
          <img src="https://picsum.photos/200" width="100%" id="img2"  alt="" />
          <p id="name">Mentor 2</p>
        </div>
        <div class="col-lg-3 mentor-image">
          <img src="https://picsum.photos/200" width="100%" id="img3"  alt="" />
          <p id="name">Mentor 3</p>
        </div>
        <div class="col-lg-3 mentor-image">
          <img src="https://picsum.photos/200" width="100%" id="img4" alt="" />
          <p id="name">Mentor 4</p>
        </div>
      </div>
    </div>

    <!---contributors section------->
    <div>
      <h1 style="font-family: 'Montserrat';color: #0D327B;padding-left: 110px;padding-top: 80px;font-size: 80px;">Contributors</h1>
      <div class="container" id="Contributors">

    {% for t,d in team.items() %}

        <div class="col-lg-3 mentor-image">
          <img src="{{ d.image }}" width="100%" id="img1"  alt="{{ d.name }}" />
          <p id="name">{{ d.name }} ( <a class="github-logo" href="https://github.com/{{d.username}}"><i class="fa fa-github"></i></a>)</p><br>
        </div>

        {% endfor %}
      </div>
      
    </div>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>