{% extends "base.html" %} {% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Groups List</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">

            {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                          {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message}}</div>
                        {% endfor %}
                       {% endif %}
                      {% endwith %}


        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addgroup">
                    Add Group
                </button>
                <!-- Modal -->
                <div class="modal fade" id="addgroup" tabindex="-1" role="dialog" aria-labelledby="addTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Add Group</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                            </div>
                            <div class="modal-body">
                                <form action="/new/group" method="post">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Group Name</label>
                                        <input type="text" class="form-control" name="groupname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Group Name...">
                                        <small id="emailHelp" class="form-text text-muted">This will be your new group name. Ex Newsletter...</small>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            <br>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="auto" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Group Name</th>
                            <th>Date Created</th>
                            <th style="width: 10%;">Delete</th>
                            <th>Send Mail</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Group Name</th>
                            <th>Date Created</th>
                            <th style="width: 10%;">Delete</th>
                            <th>Send Mail</th>
                        </tr>
                    </tfoot>
                    <tbody>
{#                                    Start loop#}
{% for group in groups %}
                        <tr>
                        <td>{{ group.id }}</td>
                            <td>
                                <a style="text-decoration: none;" href="/view/subscribers/{{ group.id }}">{{ group.name }}</a></td>
                            <td>{{ group.date }}</td>
                            <td>
                                <a href="/delete/group/{{ group.id }}" class="btn btn-danger btn-circle">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                            <td>
                                <a href="/use/group/{{ group.id}}" class="btn btn-success btn-circle">
                                    <span class="icon text-white-50">
                                                        <i style="color: white" class="fas fa-paper-plane"></i>
                                                    </span>
{#                                    <span class="text">SEND</span>#}
                                </a>
                            </td>
                        </tr>
{#                                    end loop#}
{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}