{% extends "base.html" %} {% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Number of Groups Card -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Number of Groups</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ glen }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Number of IDs Card-->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Number of subscribers</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ slen }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-id-badge fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Number of mail sent Card -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Number of templates</div>
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ tlen }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-envelope fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

       <div class="container py-4" style="border-radius: 20px;width: auto;height: auto;">
            <h1 class="h3 mb-0 text-gray-800" style="text-align: center;font-size: 50px;font-weight: 900;">Our cool Devs</h1>
            <div class="container" style="border-radius: 20px;width: 600px;height: 250px;background: rgb(51, 51, 51);margin-top: 30px;">
                <div class="container" style="width: 100vw;height: 1.5rem;"></div>
                <div  class="home col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
		    	    <h3 id="resizing-h3" class="" >
		    	    	<span>
		    	    		<div class="stage">
		    	    			<div class="cubespinner">
		    	    				<div class="face1">Vignesh Shetty</div>
		    	    				<div class="face2">Raksharaj Shetty</div>
		    	    				<div class="face3">Laureen Fernandes</div>
		    	    				<div class="face4">Shanwill Pinto</div>
		    	    			</div>
		    	    		</div>
		    	    	</span>
		    	    </h3>
		        </div>
            </div> 
            
       </div>     
    </div>


</div>
<!-- /.container-fluid -->
{% endblock %}