<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Bulk Mailer - Thank You </title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="ico" sizes="16x16">
    <link href="{{ url_for('static', filename='css/thankyou.css') }}" rel="stylesheet">

</head>
<body>
<!-- partial:index.partial.html -->
<div class=thankyoucontent>
 <div class="wrapper-1">
    <div class="wrapper-2">
       <img src="https://i.ibb.co/Lkn7rkG/thank-you-envelope.png" alt="thank-you-envelope" border="0">
     <h1>Thank you!</h1>
      <p>for subscribing, you will receive all important updates from our company henceforth.</p> 
      <p>once your message is received. </p>
      <button class="go-home"><a href="https://bulkmailer.cf">
        home page</a>
      </button>
    </div>
   
    <div class="footer-like">
      <p>
      </p>
    </div>
</div>
<!-- partial -->
  
</body>
</html>
